*{
    font-family: Roboto;
}

body {
    background-color: #121212;
}

.wrapper {
   width: 50%;
   background-color: #414141;
   border-radius: 30px;
   margin: 2rem auto;
   text-align: center;
}

.text {
    font-weight: 700;
    font-size: 1.7rem;
    padding: .5rem 0;
}

#clock-btn {
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 5px 20px;
}

.inuse {
    color: red;
}

.free {
    color: green
}